.hd {
  margin: auto;
}

.hd {
  border: 1px solid lightgray;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.hd h1 {
  padding: 1rem;
  width: 120px;
}
.hd .logo:hover .hd nav {
  mix-blend-mode: multiply;
}

.hd .gnb { border: 5px solid lightblue;
display: flex;}
.hd .gnb a {
    display: block;
}
.hd .gnb > li{
    border: 1px solid tomato;
}

.hd .gnb > li > a {

}
.hd .func {
}
