header {
  max-width: 1900x;
  width: 100%;
  border: 1px solid red;
}

.gnb {
  display: flex;
  justify-content: space-between;
}
.logo {
  font-size: 2rem;
  margin: 0.8rem;
  font-weight: 550;
}
.categori {
  display: flex;
  margin: auto;
  font-weight: 455;
}
.categori > ul {
}
.container {
  position: relative;
  width: 100%;
  height: 500px;
  background-image: url(/shop/img/shoes.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: white;
  padding: 1px;
  text-align: center;
}
/* 배경화면 어둡게 하는 용도의 가상요소 */
.container::before {
  content: "";
  opacity: 0.5;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-color: #000;
}
.mh {
  position: relative;
  font-size: 3rem;
  font-weight: 600;
  margin-top: 11rem;
  margin-left: 2%;
}

.explain {
  position: relative;
  font-size: 1rem;
  font-weight: 100;
  margin-top: 2.7rem;
  margin-left: 2%;
  line-height: 1.25;
}

.goshopping {
  position: relative;
  font-weight: 600;
  background-color: transparent;
  border: none;
  margin-top: 2.8rem;
  margin-left: 1.6%;
  height: 50px;
  transition: 0.5s;
  width: 10rem;
  height: 2.2rem;
  border: 1px solid white;
  border-radius: 1rem;
}
.goshopping > * {
  color: white;
}

.goshopping:hover {
  margin-top: 2.3%;
}

.subexplain {
  width: 45%;
  margin: auto;
  padding: 2%;
  background-color: #eee;
  text-align: center;
  position: relative;
  top: -2rem;
}

.subexplain > h4 {
  font-size: 1.3rem;
  font-weight: 530;
}
.subexplain > p {
  font-size: 0.95rem;
  margin-top: 1rem;
  line-height: 1.4;
  text-wrap: nowrap;
}
