body {
  margin: 0px;
}
header {
  max-width: 1900x;
  width: 100%;
}

.gnb {
  display: flex;
  justify-content: space-between;
}
.logo {
  font-size: 2rem;
  margin: 0.8rem;
  font-weight: 550;
}
.categori {
  display: flex;
  margin: auto;
  font-weight: 455;
}

.container {
  position: relative;
  width: 100%;
  height: 500px;
  background-image: url(/shop/img/shoes.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: white;
  padding: 1px;
  text-align: center;
}
/* 배경화면 어둡게 하는 용도의 가상요소 */
.container::before {
  content: "";
  opacity: 0.5;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-color: #000;
}
.mh {
  position: relative;
  font-size: 3rem;
  font-weight: 600;
  margin-top: 11rem;
  margin-left: 2%;
}

.explain {
  position: relative;
  font-size: 1rem;
  font-weight: 100;
  margin-top: 2.7rem;
  margin-left: 2%;
  line-height: 1.25;
}

.goshopping {
  position: relative;
  font-weight: 600;
  background-color: transparent;
  border: none;
  margin-top: 2.8rem;
  margin-left: 1.6%;
  height: 50px;
  transition: 0.5s;
  width: 10rem;
  height: 2.2rem;
  border: 1px solid white;
  border-radius: 1rem;
}
.goshopping > * {
  color: white;
}

.goshopping:hover {
  margin-top: 2.3%;
}

.subexplain {
  width: 45%;
  margin: auto;
  padding: 2%;
  background-color: #eee;
  text-align: center;
  position: relative;
  top: -2rem;
}

.subexplain > h4 {
  font-size: 1.3rem;
  font-weight: 530;
}
.subexplain > p {
  font-size: 0.95rem;
  margin-top: 1rem;
  line-height: 1.4;
  text-wrap: nowrap;
}

.form-background * {
  border: 1px solid saddlebrown;
}
.form-background {
  background-color: rgb(70, 69, 69);
  margin: auto;
  padding: 5% 13%;
  width: 100%;
}
.form-white {
  background-color: white;
  width: 50%;
  margin: auto;
  position: relative;
}

.form-white form > h3 {
  font-size: 2rem;
  font-weight: 550;
  margin: 2rem 1rem;
}
.form-white {
  border: 1px solid transparent;
}

.form-white p {
  font-size: 1.2rem;
  padding: 0.5rem 0;
  font-weight: 400;
}

.w100 {
  width: 100%;
  clear: both;
  padding: 1rem;
}
.w50 {
  width: 50%;
  float: left;
  padding: 1rem;
}
.input-text {
  width: 100%;
  padding: 0.5rem;
  font-size: 1rem;
  border-radius: 5px;
  box-sizing: border-box;
}
.input-check {
  margin: 1rem 0;
}
#subscribe {
  font-size: 0.3rem;
}
