div {
  box-sizing: border-box;
}

/* 중급 flex */
.flex-con {
  /* 부모에게 flex 주면 가로정렬! / inline+table */

  display: flex;
  /* flex-direction: column; */
  /* flex-direction: column으로 하면 세로배치 / row는 기본값=가로 */

  align-items: center;
  /* flex가 있을때의 상하정렬 */

  justify-content: center;
  /* 가운데정렬! display flex가 적용되어야만 justify-content 로 정렬 가능 */

  /* flex-wrap: wrap; */
  /* width가 크면 밑으로 보내고싶을때 사용하는거 */
}

.flex-item {
  box-sizing: border-box;
  display: flex;
  height: 70px;
  color: black;
  align-items: center;
  margin: auto;
  padding: 15px;
  /* border: 1px solid transparent; */
}

.logo {
  flex-grow: 2;
  font-size: 30px;
  justify-content: left;
  font-weight: 550;
}

.product,
.services {
  flex-grow: 0.2;
  font-size: 20px;
  justify-content: center;
}

/* 중급 flex */

.main-background {
  width: 100%;
  height: 500px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.445), rgba(0, 0, 0, 0.5)),
    url(../img/shoes.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0;
  padding: 20px;
  background-attachment: fixed;
  position: relative;
}
.main-title {
  color: white;
  font-size: 3rem;
  line-height: 0;
  margin-top: 100px;
  padding: 0;
}
.main-background > p {
  color: white;
  font-size: 1.5rem;
  font-weight: lighter;
  line-height: 0px;
}
.main-background > button {
  background-color: transparent;
  border-color: transparent;
  line-height: 0px;
  font-size: 1rem;
  padding: 1px;
  text-align: left;
  position: relative;
  /* 포지선 relative -  내 원 위치를 기준으로 이동해달라,
   그리고 top/bottom같은거 쓰면 버튼은 공중에 뜸(플로트랑 비슷) */
}

/* position static - 좌표이동x , position fixed 현 화면에 고정해달라는것  */
/* position absolute -부모태그 기준으로 움직임 > 부모 중 positon relative를 가진 부모 기준 */

.main-background .moveurl {
  color: white;
}

.main-bottombox {
  background-color: gainsboro;
  width: 80%;
  max-width: 600px;
  margin: auto;
  padding: 20px;
  position: relative;
  top: -40px;
  text-align: center;
}

.sub-title {
  font-size: 1.2rem;
  line-height: 0;
}
.main-bottombox > p {
  font-size: 1rem;
}

.bodycon {
  width: 100%;

  box-sizing: border-box;
  display: flex;
  justify-content: space-around;
  text-align: center;
  line-height: 2;
  text-wrap: nowrap;
}
.bodycon i {
  background-color: burlywood;
  width: 100px;
  height: 100px;
  border-radius: 50px;
  padding-top: 25px;
  box-sizing: border-box;
  color: white;
}

.bodycon > div {
  display: block;
  line-height: 2;
  margin: 70px;
}
.advan {
  font-size: 1.3rem;
  font-weight: 500;
}
.advan ~ div {
  font-size: 1rem;
  font-weight: lighter;
}

.shop-bg {
  background-color: #eee;
  padding: 20px;
}

.shop-container {
  display: flex;
  width: 90%;
  margin: auto;
}

.shop-container .shop-item {
  width: 33%;
  padding: 10px;
}

.shop-container .shop-item img {
  width: 100%;
  display: block;
  /* 오버레이 만들고 밑이 살짝긴것같으면 (기본적으로 밑줄에 붙어서 나오기때문에) 블록설정하면 사라짐 */
}
.shop-container .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 1;
  /* 최종스타일 / 최초스타일 미리 설정할것 */
  transition: all 1s;
  /* 위에 있는 스타일이 변하면 1초동한 서서히 변하게 해주세요~*/
  transition-timing-function: cubic-bezier(1,-0.08,cubic-bezier(0.95, 0.05, 0.795, 0.035));
}
.shop-container .overlay > * {

  color:  white;
display: flex;
text-align: left;
padding:;

}
.overlay >strong { font-size: 30px;
}

.shop-container .overlay:hover {
  opacity: 1;
  height: 50%;
}

/* media query css파일 최하단에 작성. 현재 브라우저폭이 1200이하일경우 이걸 적용해라 */
/* 큰사이즈 >  작은사이즈 순으로 작성함 */
/* breakpoint 기준 px는 다른사람 따라하는것을 권장함 / 많아봤자 4개까지가 적당함 */
/* 1200-태블릿 , 992 , 768 , 576-여기서부터 모바일 */
@media screen and (max-width: 1200px) {
  .main-title {
    font-size: 30px;
  }
  .nav-item {
    font-size: 12px;
  }
  /* 예시~~~~~~~~~~~~~여기는 태블릿사이즈~~~~~~~~~~~~~~ */
  .bodycon {
    flex-wrap: wrap;
  }
}
/* 옛날에는 only를 썼었음(호환성) 지금은 상관x */
/* print - 인쇄페이지 / screen이 기본값 */

@media screen and (max-width: 576px) {
  .main-title {
    font-size: 25px;
  }
  .sub-title {
    font-size: 20px;
  }
  .bodycon {
    line-height: 1;
  }
  .bodycon > div {
    margin: 25px 45px;
  }
}
