.con {
  overflow: hidden;
  max-width: 800px;
  width: 80%;
  margin: auto;
  padding: 5px 70px;
  background-color: rgb(187, 210, 218);
  position: relative;
  /* border: 1px solid red; */
}
.cart1 {
  font-weight: 600;
  font-size: 30px;
  line-height: 1;
  display: b;
  justify-content: space-between;
}
.words {
  /* display: inline; */
  color: navy;
  width: 50%;
  left: 0;
  /* border: 1px solid red; */
}

thead th,
tbody td,
tfoot tr {
  padding: 15px;
  border-bottom: 2px solid #c2d3de;
  /* border: 1px solid red; */
  line-height: 3px;
}
tfoot td {
  padding: 10px 48px 10px 10px;
}
thead th {
  font-size: 12px;
}
tbody td:nth-child(n + 4) {
  text-align: left;
}
tbody td:nth-child(3) {
  text-align: right;
}
.tb1 {
  border-collapse: collapse;
  width: 100%;
  margin: auto;
  padding: 15px;
  border-radius: 10px;
  background-color: white;
  position: relative;
}

.total_prices {
  display: block;
  right: 0;
  color: navy;
}
.prc {
  font-size: 18px;
}

.tfooter {
  box-sizing: border-box;
  font-weight: bold;
  text-align: right;
  /* margin: auto; */
  line-height: 2;
  height: 60px;
  /* padding: px; */
}
footer {
  position: relative;
  display: flex;
  justify-content: space-between;
}
.btn_payment {
  display: flex;
  white-space: nowrap;
  text-align: center;
  justify-content: center;
  margin: 10px;
  border-radius: 10px;
  background-color: navy;
  border-color: transparent;
  color: white;
  font-size: 13px;
  width: 25%;
  padding: 20px 30px;
  float: right;
  /* 버튼이 지멋대로 굴길래 float주고 con에 overflow-hidden 줘서 배경이 감싸도록 처리함 */
  cursor: pointer;
}

.btn_payment::after {
  display: block;
  clear: both;
}

.btn_payment:hover {
  background-color: white;
  color: black;
}

.btn_payment:focus {
  background-color: gray;
}
/* 버튼을 눌렀다가 뗐을때 나오는거 */

.btn_payment:active {
  background-color: orange;
}
