.grid-container {
  display: grid;
  grid-template-columns: 100px 100px 100px 100px;
  /* fr사이즈 :  배수(균등하게 쪼갤때 위는 1:1:1:1 */
  /* 세로칸 갯수&사이즈 */

  grid-template-rows: 100px 100px 100px ;
  /* 가로칸 갯수&사이즈 */

  /* grid-gap: 10px; */
  /* 격자간격 */

  /* 레이아웃 만드는 방법 :  내부박스크기조절 or 부모건들이기  */

  grid-template-areas: ""
  "사이드 . . . "
  "사이드 . . . " ;
}

.grid-container div {
  border: 1px solid red;
}
/* .grid-nav {
  grid-column: 1/5;
  세로선 1~4만큼 차지해주세요 - 현재 세로선 총 5개

  grid-row: 1;
  가로선 1~4만큼 차지해주세요
}
.grid-sidebar {
  grid-row: 2/5;
}
.grid-main { grid-column: 2/5;
    grid-row: 2/5;
  
} */
.grid-nav {
  grid-area: 헤더;
}
.grid-sidebar {
  grid-area: 사이드바;
}
