.grid-container2 {
  display: grid;
  width: 100%;
  max-width: 600px;
  margin: auto;

  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}
.grid-container2 img {
  width: 100%;
  display: block;
}
.firstimg {
     grid-column: 1/3;
     grid-row: 1/3;
}