body {
  max-width: 1536px;
  width: 100%;
}
.mainvisual {
  width: 100%;
  height: 400px;
  background: linear-gradient(to bottom, #3eacdf, #5765b6);
  padding: 3% 7%;
  overflow: hidden;
  color: white;
}

.mainvisual > h2 {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 3;
}
.mainvisual > p {
  text-wrap: wrap;
  line-height: 1.25;
}

.mainvisual > a {
  background-color: rgb(71, 71, 71);
  padding: 10px 15px 10px 15px;
  border-radius: 5px;
  color: white;
  font-size: 0.9rem;
  font-weight: 500;
  border: 1px transparent;
  position: relative;
  top: 8%;
}

.mainvisual > div {
  width: 280px;
  position: absolute;
  left: 60%;
  top: 95.5px;
}
.mainvisual > div > img {
  width: 100%;
  object-fit: contain;
}
