body {
  max-width: 1536px;
  width: 100%;
}
.mainvisual {
  width: 100%;
  height: 550px;
  background: linear-gradient(to bottom, #3eacdf, #5765b6);
  padding: 3% 7%;
  overflow: hidden;
  color: white;
}
.mainvisual-text {
  float: left;
  margin-top: 50px;
}
.mainvisual > h2 {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 3;
}
.mainvisual > p {
  line-height: 1.25;
}

.abutton {
  background-color: rgb(71, 71, 71);
  padding: 10px 15px 10px 15px;
  border-radius: 5px;
  color: white;
  font-size: 0.8rem;
  font-weight: 500;
  border: 1px transparent;
  position: relative;
  top: 8%;
}
.abutton:hover {
  background-color: orange;
  transition: 0.3s;
}
.mainvisual > div {
  width: 350px;
  float: right;
  margin-top: 50px;
}
.mainvisual > div > img {
  width: 100%;
  object-fit: contain;
}

/* subexplain */
.subexplain {
  border: 1px solid white;
  display: flex;
  text-align: center;
  height: 150px;
  line-height: 1.5;
  justify-content: center;
  align-items: center;
}

.subexplain h3 {
  font-weight: 600;
}

.subexplain p {
  font-size: 0.8rem;
  margin: 1.8% 0 5% 0;
}
.subexplain a {
  margin: 10% 0;
}

/* service section */
.service {
  text-align: center;
  background-color: #5765b6;
  color: white;
  height: 300px;
  padding: 3% 7%;
}
.service > p {
  font-size: 0.7rem;
  margin: 0.4%;
}
.offer-con {
  display: flex;
  justify-content: space-evenly;
  margin: 2.5% 1%;
}
.offer-con div {
  margin: 0.5%;
}
.offer-con strong {
  font-weight: 500;
  line-height: 2;
}

.offer-con p {
  font-weight: 300;
  font-size: 0.9rem;
}
.offercon {
  color: #5765b6;
  background-color: white;
  padding: 1.15rem;
  margin: 0;
}
.icon {
  border: 1px solid transparent;
  border-radius: 50%;
}

/* portfolio section */

.portfolio {
  padding: 3%;
}
.portfolio > p,
.portfolio > h3 {
  text-align: center;
}
.portfolio > p {
  font-weight: 300;
  font-size: 0.65rem;
}
.portfolio > h3 {
  font-weight: 600;
}

.portfolio-con {
  text-align: left;
  margin: 1.5%;
  display: flex;
  flex-wrap: wrap;
}
.portfolio-con div {
  width: 50%;
  height: 20rem;
  color: white;
  padding: 3%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
.portfolio-con div:hover {
  border: 30px solid white;
  transition: 0.3s;
}

.portfolio-con div > strong {
  font-weight: 500;
  font-size: 1.18rem;
  line-height: 5;
}
.portfolio-con div > p {
  font-weight: 300;
  font-size: 0.95rem;
}
.port-1 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0)),
    url(../img/portfolio-1.jpg);
}
.port-2 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0)),
    url(../img/portfolio-2.jpg);
}
.port-3 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0)),
    url(../img/portfolio-3.jpg);
}
.port-4 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0)),
    url(../img/portfolio-4.jpg);
}

/* footer */
footer {
  text-align: center;
}
.socialcon {
  color: white;
  background-color: #5765b6;
  padding: 1rem;
  margin: 1%;
}
footer > p {
  font-size: 0.8rem;
  margin: 2%;
}
